.headercontent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    padding: 0.8rem 2rem;
    border-bottom: 1px solid black;
    gap: 10px;
}
.headercontent button{
    background-color: azure;
    color: black;
    border-radius: 20px;

}
.progress{
    background: blue;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
}

.container {
    display: flex;
  }
  
  app-sidebar {
    width: 20%;
  }
  
  router-outlet {
    width: 80%;
  }
  
