<h1>sidebar</h1>
<div class="mainu-container">
    <div class="manu-count">
        <ul>
            <li > <div class="text active">1</div>
                <div class="submanu">
                    <div class="li active"></div>
                    <div class="li"></div>

                </div>
            </li>
            <li><div class="text">1</div></li>
            <li><div class="text">1</div></li>
            <li><div class="text">1</div></li>
        </ul>
    </div>
    <div class="manu-links">
        <ul><li><div class="text">Bussiness-structure</div>
        <div class="submanu">
            <div class="text active">Bussiness-representativ</div>
            <div class="text">bussiness-details</div>
        </div></li>
            <li class="li"><div class="text">Bussiness-structure</div></li>
            <li class="li"><div class="text">Bussiness-structure</div></li>
            <li class="li"><div class="text">Bussiness-structure</div></li>
        </ul>
    </div>
</div>
